
<div class="video-container">
  <div class="video-cover" onclick="playVideo()">
    <img src="{{product.video.cover}}" alt="Plant in a pot on a windowsill" class="cover-image">
    <span class="play-button">▶</span>
  </div>
  <iframe id="rickroll-video" src="{{product.video.iframeUrl}}" title="YouTube video player" frameborder="0" allow="autoplay; encrypted-media"
    allowfullscreen style="display: none;">
  </iframe>
</div>
