/* Video block */
.videosection {
  background-color: var(--color-anthracite);
  padding: 1rem 0 2rem;
  display: flex;
  flex-direction: column;
}

.videosection__title {
  align-self: center;
  margin: 0 0 1rem;
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  height: 300px;
}

.video-cover {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.cover-image {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  border-radius: 50%;
}

/* Reviews */
.reviews {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-4);
}

.review {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  & + & {
    border-top: 1px solid grey;
    padding-top: var(--spacing-4);
  }
}

.review__header {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}

.review__avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

.review__author {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
}

.review__author-name {
  font-size: var(--font-size-sm);
  font-weight: 700;
}

.review__date {
  font-size: var(--font-size-xs);
}

.review__rating-stars {
  display: flex;
}

.review__rating-star {
  font-size: var(--font-size-xs);
}

.review-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--color-bg-secondary);
  margin-top: 1rem;
}

.review-form__label {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.review-form__input {
  width: 100%;
  min-height: 100px;
  font-family: var(--font-sans);
  padding: 1rem;
}

.review-form__wordcount {
  display: block;
  text-align: right;
  margin-bottom: 1rem;
}

/* Image zoom */

.image-zoom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.image-zoom.open {
  display: flex;
}

.image-zoom__inner {
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  position: relative;
}

.image-zoom__close {
  background-color: #fff;
  border: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 50%;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 500;
  cursor: pointer;
}

.image-zoom__img {
  display: block;
  width: 100%;
  height: auto;
}
