<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titre de la page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    {% include "header.njk" %}

    <main>
        <h2>Bienvenue sur mon site web</h2>
        <p>Ceci est un exemple de contenu de base.</p>
    </main>
</body>
</html>