<h2>
    Colors :
</h2>
<div>
     {% for color in product.colors %}
        <button class="color-button">
           {{ color.name }}
        </button>
    {% endfor %}
</div>
<div>
    <span></span>
    <button>Add to cart</button>
</div>