<header>
  <div id="header-ad"></div>
  <div class="container header">
    <h1 class="header__title title-bg">SFEIR Shop</h1>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="/" class="header__nav-item-link font-effect-neon">Vêtements</a>
        </li>
        <li>
          <a href="/" class="header__nav-item-link font-effect-neon">Stickers</a>
        </li>
        <li>
          <a href="/" class="header__nav-item-link font-effect-neon">Peluches</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
