
<div class="video-container">
  <div class="video-cover" onclick="playVideo()">
  <img src="/images/product/964663/1.jpg" alt="Plant in a pot on a windowsill" class="cover-image">
  <span class="play-button">▶</span>
</div>

  <iframe id="rickroll-video" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="autoplay; encrypted-media"
          allowfullscreen style="display: none;" width="100%" height="300px">
  </iframe>
</div>
