<form class="conversion" id="conversion-form">
  <fieldset class="conversion__sizes">
    <legend>
      Taille
    </legend>
    <ul class="sizes">
        {% for size in sizes %}
          <li class="sizes__item">
            <input
              type="radio"
              id="option-{{size.id}}"
              name="size"
              value="{{size.id}}"
              class="vh sizes__item-radio"
              {% if size.availableQuantity === 0 %} disabled {% endif %}
              />
            <label for="option-{{size.id}}" class="sizes__item-button">
              {{size.name}}
            </label>
          </li>
        {% endfor %}
    </ul>
  </fieldset>
  <div class="conversion__buy">
    <div class="conversion__price">
      <span class="conversion__price-amount">{{ sizes[0].price.amount }}€</span>
      <div class="quantity">
        <button id="decrease-qty" class="btn btn-small btn-quantity" type="button">-</button>
        <input id="quantity" class="input-quantity" type="number" value="1" min="1" max="10">
        <button id="increase-qty" class="btn btn-small btn-quantity" type="button">+</button>
      </div>
      </div>
      <button id="btn-add-to-cart" class="btn btn-primary btn-big conversion_add" disabled="disabled">
        <strong>Ajouter au panier</strong>
      </button>
  </div>
</form>
