<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SFEIR Shop</title>
  </head>
  <body>
    <ul>
      <li><a href="/product/200">Cache-Control: max-age=30</a></li>
      <li><a href="/product/300">Cache-Control: no-cache</a></li>
      <li><a href="/product/400">Cache-Control: no-store</a></li>
      <li><a href="/product/500">Cache-Control: max-age=30, immutable</a></li>
      <li><a href="/product/600">Cache Configuration</a></li>
    </ul>
  </body>
</html>
